<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodejs shahzaib / about page</title>
</head>

<body>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eligendi corporis autem nihil repellendus placeat
        temporibus labore animi nam doloribus qui sunt omnis, nobis sed, explicabo modi at aliquid atque.</p>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
</body>

</html>